<header class="top-header">
    <nav class="navbar navbar-expand gap-3">
        <div class="mobile-toggle-icon fs-3 d-flex d-lg-none">
            <i class="bi bi-list"></i>
        </div>
        <form class="searchbar">
            <div class="position-absolute top-50 translate-middle-y search-icon ms-3"><i class="bi bi-search"></i></div>
            <input class="form-control" type="text" placeholder="Type here to search">
            <div class="position-absolute top-50 translate-middle-y search-close-icon"><i class="bi bi-x-lg"></i></div>
        </form>
        <div class="top-navbar-right ms-auto">
            <ul class="navbar-nav align-items-center gap-1">
                <li class="nav-item search-toggle-icon d-flex d-lg-none">
                    <a class="nav-link" href="javascript:;">
                        <div class="">
                            <i class="bi bi-search"></i>
                        </div>
                    </a>
                </li>
                <li class="nav-item dropdown dropdown-laungauge d-none d-sm-flex">
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
                        <img src="/assets/images/county/02.png" width="22" alt="">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end p-2">
                        <li>
                            <a class="dropdown-item d-flex align-items-center py-2" href="javascript:;"><img src="/assets/images/county/01.png" width="20" alt=""><span class="ms-2">English</span></a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center py-2" href="javascript:;"><img src="/assets/images/county/02.png" width="20" alt=""><span class="ms-2">Catalan</span></a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center py-2" href="javascript:;"><img src="/assets/images/county/03.png" width="20" alt=""><span class="ms-2">French</span></a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center py-2" href="javascript:;"><img src="/assets/images/county/04.png" width="20" alt=""><span class="ms-2">Belize</span></a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center py-2" href="javascript:;"><img src="/assets/images/county/05.png" width="20" alt=""><span class="ms-2">Colombia</span></a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center py-2" href="javascript:;"><img src="/assets/images/county/06.png" width="20" alt=""><span class="ms-2">Spanish</span></a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center py-2" href="javascript:;"><img src="/assets/images/county/07.png" width="20" alt=""><span class="ms-2">Georgian</span></a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center py-2" href="javascript:;"><img src="/assets/images/county/08.png" width="20" alt=""><span class="ms-2">Hindi</span></a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dark-mode d-none d-sm-flex">
                    <a class="nav-link dark-mode-icon" href="javascript:;">
                        <div class="">
                            <i class="bi bi-moon-fill"></i>
                        </div>
                    </a>
                </li>
                
            </ul>
        </div>
        <div class="dropdown dropdown-user-setting">
            <a class="dropdown-toggle dropdown-toggle-nocaret" href="#" data-bs-toggle="dropdown">
                <div class="user-setting d-flex align-items-center gap-3">
                    <img src="//assets/images/avatars/avatar-1.png" class="user-img" alt="">
                    <div class="d-none d-sm-block">
                        <p class="user-name mb-0">Jhon Deo</p>
                        <small class="mb-0 dropdown-user-designation">HR Manager</small>
                    </div>
                </div>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a class="dropdown-item" href="pages-user-profile.html">
                        <div class="d-flex align-items-center">
                            <div class=""><i class="bi bi-person-fill"></i></div>
                            <div class="ms-3"><span>Profile</span></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        <div class="d-flex align-items-center">
                            <div class=""><i class="bi bi-gear-fill"></i></div>
                            <div class="ms-3"><span>Setting</span></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="index2.html">
                        <div class="d-flex align-items-center">
                            <div class=""><i class="bi bi-speedometer"></i></div>
                            <div class="ms-3"><span>Dashboard</span></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        <div class="d-flex align-items-center">
                            <div class=""><i class="bi bi-piggy-bank-fill"></i></div>
                            <div class="ms-3"><span>Earnings</span></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        <div class="d-flex align-items-center">
                            <div class=""><i class="bi bi-cloud-arrow-down-fill"></i></div>
                            <div class="ms-3"><span>Downloads</span></div>
                        </div>
                    </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item" href="authentication-signup-with-header-footer.html">
                        <div class="d-flex align-items-center">
                            <div class=""><i class="bi bi-lock-fill"></i></div>
                            <div class="ms-3"><span>Logout</span></div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!--end top header-->
<!--start sidebar -->
<aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img src="/assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">Onedash</h4>
        </div>
        <div class="toggle-icon ms-auto">
            <i class="bi bi-list"></i>
        </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li>
            <a href="/Home">
                <div class="parent-icon">
                    <i class="bi bi-house-fill"></i>
                </div>
                <div class="menu-title">Anasayfa</div>
            </a>
        </li>
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <i class="bi bi-grid-fill"></i>
                </div>
                <div class="menu-title">Ürün Yönetimi</div>
            </a>
            <ul>
                <li>
                    <a href="/Urun/Index"><i class="bi bi-circle"></i>Ürün Listesi</a>
                </li>
                <li>
                    <a href="/Urun/UrunForm"><i class="bi bi-circle"></i>Ürün Ekle</a>
                </li>
                <li>
                    <a href="/Urun/Hammadde"><i class="bi bi-circle"></i>Hammaddeler</a>
                </li>
                <li>
                    <a href="/Urun/HammaddeForm"><i class="bi bi-circle"></i>Hammadde Ekle</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <i class="bi bi-grid-fill"></i>
                </div>
                <div class="menu-title">Cari Yönetimi</div>
            </a>
            <ul>
                <li>
                    <a href="/Cari/Index"><i class="bi bi-circle"></i>Cari Listesi</a>
                </li>
                <li>
                    <a href="/Cari/CariForm"><i class="bi bi-circle"></i>Cari Ekle</a>
                </li>
                </ul>
                </li>
     
    </ul>
    <!--end navigation-->
</aside>